body {
}
.container > header {
    background-image: url(https://lh4.googleusercontent.com/nzyYH8KrewZrpRzY5pJYSD8xtI5_UIOlMqq_g2fmSuimtKFSxiR_jW_7ZaAZLfTSL0iKKjljQaJpjEMGmwDW6aaRXDZazGRB1NKBpRWY5H3Ef2-j80Ki1U8L3NEqAvcFme8_es8yADFppP9Ba6yVtnY);
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
    position: relative;
}
header .company-info {
    width: 300px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    left: 15px;
}
header .company-info h1{
    font-variant: small-caps;
    color: white;
    text-shadow: 0 0 5px blue;
}
.menu > ul > li {
    display: inline-block;
    position: relative;
}

    .menu > ul > li > a {
        display: block;
    }

.menu > ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: orangered;
    text-align: center;
}

    .menu > ul > li > a {
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        color: white;
        padding: 0 10px;
        line-height: 40px;
    }

        .menu > ul > li > a:hover {
            color: yellow;
        }

.menu ul ul {
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
    text-align: left;
}

    .menu ul ul a {
        display: block;
        line-height: 30px;
        color: orangered;
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        padding: 0 10px;
    }

.menu > ul > li:hover > ul {
    display: block;
}

.menu ul ul a:hover {
    background-color: orangered;
    color: white;
}
.container > aside {
    min-height: 300px;
    width: 30%;
    float: right;
    box-shadow: 0 0 2px gray;
}
.container > footer {
        border-top: 5px double orangered;
        line-height: 50px;
        background-color: lightcyan;
        text-align: center;
        font-variant: small-caps;
        clear: both;
    }
.menu1 a {
    background-image: url(https://png.pngtree.com/png-vector/20220428/ourmid/pngtree-smooth-glossy-heart-vector-file-ai-and-png-png-image_4557871.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px center;
    display: block;
    border-bottom: 1px solid orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
    list-style: none;
}
.menu1 {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .menu1 a:hover {
        border-bottom: 1px solid white;
        background-color: orangered;
        color: white;
        font-weight: bold;
    }